<%- include('../includes/head')%>
</head>
<body>
    <!-- navigation -->
    <%- include('../includes/admin-navigation')%>
    <%- include('../includes/navigation')%>
    <%- include('../includes/menu')%>
    

    <form style="width: 300px;" class="mx-auto mt-4" action="/auth/reset/newPassword" method="post">
        <div class="alert alert-primary text-center" role="alert">
            <h3 style="font-weight: 700;" class="mb-0 py-3">تغییر رمز</h3>
        </div>
        
        <!-- PASSWORD -->
        <div class="mb-3">
            <label for="password" class="form-label">رمز جدید</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="***********">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">تکرار رمز جدید</label>
            <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="***********">
        </div>
        <!-- csrfToken -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <!-- user -->
        <input type="hidden" name="userId" value="<%= user.id %>">

        <input class="btn btn-primary btn-block" type="submit" value="ثبت رمز جدید">
    </form>
    <!-- END -->
    <%- include('../includes/end')%>