<%- include('../includes/head')%>

</head>
<body>
    <!-- navigation -->
    <%- include('../includes/admin-navigation')%>
    

    <div class="row mx-0">
        <!-- sidebar  -->
        <%- include('../includes/admin-sidebar')%>
        <!-- shop items -->
        <div class="px-5 col-10">
            <!-- Flash errors and messages -->
            <!-- delete duplicate sentenses -->
            <% 
            let unique_errorMessages = [...new Set(errorMessages)]
            %>
            <% if(unique_errorMessages.length > 0) { %>
                <% for(let message of unique_errorMessages) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                            <%= message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
            <% } %>
    
            <!-- title of page -->
            <div class="alert alert-primary text-center mt-3" role="alert">
                <h3 style="font-weight: 700;" class="mb-0 py-1">صفحه اصلی</h3>
            </div>

              <!-- add -->
                <div class="row">
                    
                    <form class="col" action="<%= editMode ? '/admin/main-page/edit': '/admin/main-page'%>" method="POST" enctype="multipart/form-data">
                        <h5 class="text-center alert alert-info">افزودن بخش</h5>
                        <!-- type -->
                        <div>
                            <label for="type">نوع</label>
                            <select name="typeId" id="type">
                                <% for(let type of viewTypes) { %>
                                    <option value="<%= type.id  %>"><%= type.title %></option>                                    
                                <% } %>
                            </select>
                        </div>

                        <br>

                        <!-- title -->
                        <div>
                            <label for="title">عنوان</label>
                            <input type="text" name="title" placeholder="عنوان" value="<%= editMode ? view.title: ''%>">
                        </div>

                        <br>

                        <!-- link -->
                        <div>
                            <label for="link">لینک</label>
                            <input type="text" name="link" placeholder="لینک" value="<%= editMode ? view.link: ''%>">
                        </div>

                        <br>

                        <!-- image -->
                        <div>
                            <label for="image">تصویر</label>
                            <input type="file" name="image" placeholder="تصویر">
                        </div>

                        <br>

                        <% if(editMode) { %>
                            <input type="hidden" name="viewId" value="<%= view.id %>">
                        <% } %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                        <button class="btn btn-primary" type="submit">اضافه کردن</button>
                    </form>

                    <div class="col">
                        <h5 class="alert alert-info text-center">
                            بخش ها
                        </h5>
                        <ul class="row list-unstyled">
                            <% for(let view of views) { %>
                                <li class="col-6 mb-2">
                                    <img class="d-block w-100" src="/<%= view.image  %>" alt="<%= view.title  %>">
                                    <%= view.title  %> ((<%= view.mainPageType.title  %>))
                                    <!-- delete form -->
                                    <form action="/admin/main-page/delete" method="POST" class="d-inline-block">
                                        <input type="hidden" name="viewId" value="<%= view.id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                        <button class="btn-sm btn btn-danger p-0 px-1 mt-2">حذف</button>
                                    </form>
                                    <!-- edit form -->
                                    <a href="/admin/main-page/edit?viewId=<%= view.id %>" class="btn btn-info p-0 px-1 btn-sm">ویرایش</a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>

                <br>

                
        </div>
    </div>
    <%- include('../includes/end')%>
