<%- include('../includes/head')%>

</head>
<body>
    <!-- navigation -->
    <%- include('../includes/admin-navigation')%>
    

    <div class="row mx-0">
        <!-- sidebar  -->
        <%- include('../includes/admin-sidebar')%>
        <!-- shop items -->
        <div class="px-5 col-10">
            <!-- Flash errors and messages -->
            <!-- delete duplicate sentenses -->
            <% 
            let unique_errorMessages = [...new Set(errorMessages)]
            %>
            <% if(unique_errorMessages.length > 0) { %>
                <% for(let message of unique_errorMessages) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                            <%= message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
            <% } %>
    
            <!-- title  -->
            <div class="alert alert-primary text-center mt-3" role="alert">
                <h3 style="font-weight: 700;" class="mb-0 py-1">صفحه اصلی</h3>
            </div>
            <!-- images -->
            <div>
                <!-- tab link -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-slider-tab" data-bs-toggle="tab" data-bs-target="#nav-slider" type="button" role="tab" aria-controls="nav-slider" aria-selected="true">اسلایدر</button>
                        <button class="nav-link" id="nav-poster-tab" data-bs-toggle="tab" data-bs-target="#nav-poster" type="button" role="tab" aria-controls="nav-poster" aria-selected="false">پوستر</button>
                    </div>
                </nav>
                <!-- tab content -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- slider tab -->
                    <div class="tab-pane fade show active" id="nav-slider" role="tabpanel" aria-labelledby="nav-slider-tab">
                        <div class="row">
                            <!-- form slider upload -->
                            <form class="col-6" action="/admin/slider" method="POST" enctype="multipart/form-data">
                                
                                    <h5 for="image" class="d-block py-3 bg-info text-center">تصویر اسلایدر</h5>
                                    <div>
                                        <label for="title">عنوان</label>
                                        <input type="text" name="title" id="title">
                                    </div>
    
                                    <br>
    
                                    <div>
                                        <label for="link">لینک</label>
                                        <input type="text" name="link" id="link">
                                    </div>
    
                                    <br>
                                    <!-- csrfToken -->
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
                                    <div>
                                        <label for="image">تصویر</label>
                                        <input class="btn btn-primary" type="file" name="image" id="image">
                                    </div>
    
                                    <br>
    
                                    <button class="btn btn-warning" type="submit">ثبت</button>
    
                            </form>
                            
                            <!-- preview sliders -->
                            <div class="col-6 row mx-0">
                                <h5 style="height: 60px;" class="d-block py-3 bg-info text-center"> اسلایدرها</h5>
                                <% for(let slider of sliders) { %>
                                    <div class="col-6">
                                        <img class="w-100" src="/<%= slider.image %>" alt="<%= slider.title %>">
                                        <!-- delete button -->
                                        <form action="/admin/slider/delete" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" name="sliderId" value="<%= slider.id %>">
                                            <button class="btn btn-sm btn-danger p-0 px-1">حذف</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- poster tab -->
                    <div class="tab-pane fade" id="nav-poster" role="tabpanel" aria-labelledby="nav-poster-tab">
                        <div class="row">
                            <!-- poster upload -->
                            <form class="col-6" action="/admin/poster" method="POST" enctype="multipart/form-data">
                                    <h5 for="image" class="d-block py-3 bg-info text-center">تصویر پوستر</h5>
                                    <div>
                                        <label for="title">عنوان</label>
                                        <input type="text" name="title" id="title">
                                    </div>
    
                                    <br>
    
                                    <div>
                                        <label for="link">لینک</label>
                                        <input type="text" name="link" id="link">
                                    </div>
    
                                    <br>
    
                                    <div>
                                        <label for="image">تصویر</label>
                                        <input class="btn btn-primary" type="file" name="image" id="image">
                                    </div>
    
                                    <br>
    
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn btn-warning" type="submit">ثبت</button>
                                </form>
    
                                <!-- preview posers -->
                                <div class="col-6 row mx-0">
                                    <h5 style="height: 60px;"  class="py-3 bg-info text-center"> پوسترها</h5>
                                    <% for(let poster of posters) { %>
                                        <div class="col-6">
                                            <img class="w-100" src="/<%= poster.image %>" alt="<%= poster.title %>">
                                            <!-- delete button -->
                                            <form action="/admin/poster/delete" method="POST">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" name="posterId" value="<%= poster.id %>">
                                                <button class="btn btn-sm btn-danger p-0 px-1">حذف</button>
                                            </form>
                                        </div>
                                    <% } %>
                                </div>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>

    <%- include('../includes/end')%>
