<ul class="pe-2 col-2 list-unstyled list-group">
    <li><a class="<%= path == '/admin' ?  'active' : ' '%> list-group-item" href="/admin">خانه</a></li>
    <li><a class="<%= path == '/admin/products' ?  'active' : ' '%> list-group-item" href="/admin/products">محصولات</a></li>
    <li><a class="<%= path == '/admin/categories' ?  'active' : ' '%> list-group-item" href="/admin/categories">دسته بندی</a></li>
    <li><a class="<%= path == '/admin/users' ?  'active' : ' '%> list-group-item" href="/admin/users">کاربران</a></li>
    <li><a class="<%= path == '/admin/comments' ?  'active' : ' '%> list-group-item" href="/admin/comments">کامنت ها</a></li>
    <li><a class="<%= path == '/admin/main-page' ?  'active' : ' '%> list-group-item" href="/admin/main-page">صفحه اصلی</a></li>
</ul>
