<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <% sliders.forEach((slider, index) => { %>
      <div class="carousel-item <%= index == 0 ? 'active': ''%>">
        <a href="<%= slider.link %>">
          <!-- <img src="<%= slider.image %>" alt=""> -->
          <img src="<%= slider.image %>" class="d-block w-100" alt="<%= slider.title %>" title="<%= slider.title %>">
        </a>
      </div>
    <% }) %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">قبلی</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">بعدی</span>
  </button>
</div>